.env
.env.*

.DS_Store
Thumbs.db
desktop.ini


/TFG/app/static/private/face_mask.glb
*.glb

venv/
/venv
.venv/
/.venv
env/
/env
.env/
/.env
ENV/
/ENV

__pycache__/
*.py[cod]
*$py.class

*.sqlite3
*.db


.dockerignore
.docker/



/staticfiles/*


*.log
logs/
/logs

.coverage
.coverage.*
htmlcov/
.pytest_cache/

.vscode/
.idea/
*.swp
*.swo

.DS_Store